<h1>Editing Recommend</h1>

<%= render 'form', recommend: @recommend %>

<%= link_to 'Show', @recommend, class: "btn btn-outline-primary btn-sm"  %> |
<%= link_to 'Back', recommends_path, class: "btn btn-outline-primary btn-sm"  %>
