body{
  font-family:"ヒラギノ明朝 Pro W3",
    "Hiragino Mincho Pro",
    "MS Ｐ明朝",
    "MS PMincho",
    serif;
}
.rounded-circle{
  width: 50px;
  height: 50px;
}

#map {
  height: 200px;
  width: 80%;
}

.small-account{
  width: 50px;
  height: 50px;
}
.dropdown-menu{
  min-width: 0;
}
.pagination{
  justify-content: center;
}
.field_with_errors{
  input {
    border: solid 1px red;
  }
}
.field_with_errors {
  textarea {
    border: solid 1px red;
  }
}
.field_with_errors {
  select {
    border: solid 1px red;
  }
}
p{
  word-break: break-all;
}
.submit_overflow{
  overflow: scroll;
}
