.header_user_image{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
}

.img-circle {
  width: 60px;
  height: 170px;
  //サイズ指定
  border-radius: 40px;
  //画像を丸くする
  object-fit: cover;
}
