<h1>Editing Memory</h1>

<%= render 'form', memory: @memory %>

<%= link_to 'Show', @memory, class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'Back', memories_path, class: "btn btn-outline-primary btn-sm" %>
