<h1>Memories</h1>
<% @memories.each do |memory| %>
  <div class="memory_content">
    <%= link_to(memory_path(memory.id), {class:"menu tr_size"}) do %>
      <%= memory.date %>
      <%= memory.title %>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Memory', new_memory_path, class: "btn btn-outline-primary btn-sm" %>
