<div class="container">
  <div class="row">
    <h2 class="col-lg-12 text-center text-md-left mt-4 font-italic border-bottom">Memory</h2>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center mt-md-4">
      <%= link_to "日記を投稿する", new_memory_path, class:"btn btn-outline-primary btn-sm" %>
    </div>
  </div>

  <% @memories.each do |memory| %>
    <div class="p-4 m-3 border">
      <div class="row d-md-inline-flex align-top">
        <div class="col-lg-12 align-middle">
          <ul class="list-group">
            <li class="list-group-flush list-unstyled">
              <span class="small"><%= memory.date %></span>
            </li>
            <li class="list-group-flush list-unstyled">
              <%= link_to memory.title + "の日記を見る", memory_path(memory.id) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @memories, class:"pagination" %>
