.menu_list{
  font-size: 20px;
  float: right;
  padding: 10px;
}
.menu:hover {
  background-color: #cbffe2;

}
.top{
  text-align: center;
}

.header_user_image a:hover {
  background-color: #ffff; }
